.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Background-Dark{
  background-color: #1C2331;
}

.Main-Page-Box {
  border: 1px solid #3d4f5f;
  background-color: transparent !important;
  padding: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.loading {
  text-align: center;
}
.loading b {
  display: block;
  font-size: 16px;
  font-weight: 600;
}
.loading span {
  display: block;
  font-size: 13px;
  color: #7a7a7a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
