.main-content {
    background: #f9f9f9;
    /*padding: 50px 85px;*/
    padding: min(50px, 20%) min(85px, 12.5%);
    margin: 20px 0;
    -webkit-border-radius: 10px;
    width: 100%;
}
.main-content .form-group .form-control {
    width:100% !important;
}
.main-container {
    position: relative;
    margin: 0 auto;
    min-height: 550px;
}

/* GLOBAL CONFIG */
.container {
    width:auto !important;
}
.navbar > .container, .navbar > .container-fluid {
    width: 100% !important;
}
.form-group:last-child {
    margin-bottom: 0;
}
input {
    width:inherit !important;
}
