#createBtn {
    right: 20px;
}

.industry {
    background: #ffffff;
    padding: 50px 85px;
    margin: 20px;
    -webkit-border-radius: 10px;
}

input {
    width: 250px
}

/*
button{
    width: 80%;
    height: 100%;
}*/
