
.skill-label {
    margin: 0;
}

.skill-user {
    display: block;
    margin-right: 10px;
}

.div-margin {
    margin-bottom: 20px;
    padding-bottom: 10px;
    #border-bottom: #6351ce solid 1px;
    border-bottom: #dedede solid 1px
}


/* SKILLS */
.skills-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills-list > li.skill-item-white {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    background-color: #f9f9f9;
    cursor: pointer;
    margin: 0 5px 5px 0;
}

.skills-list > li.skill-item-white:hover {
    background-color: rgb(99, 81, 206);
    color: #fff;
}

.skills-list > li.skill-item-purple {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(99, 81, 206);
    color: #fff;
    margin: 0 5px 5px 0;
}


/* SINGLE CARD */
.card {
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 25px;
    border-radius: 5px;
    border: none;
}

.paging-buttons {
    margin-top: 30px;
}