.nav_color {
    background-color: #1C2331;
}
.pointer-cursor {
    cursor: pointer;
}

/*@media screen and (max-width: 1000px) {*/
@media screen and (max-width: 600px) {
    .navbar>.container {
        flex-direction: column;
    }

    .navbar>.container>*{
        /*background-color: red;*/
        /*margin: auto;*/
    }

    .navbar>.container>ul {
        /*margin: 0 auto;*/
        /*flex-direction: column;*/
    }
    .main-links {
        margin: 0 min(100px, 10%);
    }

    .profile {
        margin: auto;
    }
    .navbar>.container>ul>* {
        width: max-content;
        margin: auto;
        padding: 0 .5rem;
        /*display: none;*/
    }
    .navbar>.container>ul>li>* {
        width: max-content;
        margin: auto;
        /*display: none;*/
    }

}